.superHeroContainer {
  display: flex;
  flex-direction: row;
}

.name {
  margin-left: 20px;
}

.img{
  width: 120px;
  height: 120px;
}

.flags {
  margin-left: 20px;
}

.flag {
  margin-right: 5px;
}

.available {
  color: green;
}

.notAvailable {
  color: red;
}

.button-card {
  width: 100%;
}

.detailName {
  text-align: center;
}

.detailImg {
  width: 100%;
}